/* Pokemon Types */

/* Pokemon Types */
:root {
  --color-normal: rgba(168, 168, 120, 1);
  --color-fire: rgba(240, 128, 48, 1);
  --color-water: rgba(104, 144, 240, 1);
  --color-electric: rgba(248, 208, 48, 1);
  --color-grass: rgba(120, 200, 80, 1);
  --color-ice: rgba(152, 216, 216, 1);
  --color-fighting: rgba(192, 48, 40, 1);
  --color-poison: rgba(160, 64, 160, 1);
  --color-ground: rgba(224, 192, 104, 1);
  --color-flying: rgba(168, 144, 240, 1);
  --color-psychic: rgba(248, 88, 136, 1);
  --color-bug: rgba(168, 184, 32, 1);
  --color-rock: rgba(184, 160, 56, 1);
  --color-ghost: rgba(112, 88, 152, 1);
  --color-dragon: rgba(112, 56, 248, 1);
  --color-dark: rgba(112, 88, 72, 1);
  --color-steel: rgba(184, 184, 208, 1);
  --color-fairy: rgba(240, 182, 188, 1);
}

.normal-border-card {
  border: 2px solid var(--color-normal);
}

.fire-border-card {
  border: 2px solid var(--color-fire);
}

.water-border-card {
  border: 2px solid var(--color-water);
}

.electric-border-card {
  border: 2px solid var(--color-electric);
}

.grass-border-card {
  border: 2px solid var(--color-grass);
}

.ice-border-card {
  border: 2px solid var(--color-ice);
}

.fighting-border-card {
  border: 2px solid var(--color-fighting);
}

.poison-border-card {
  border: 2px solid var(--color-poison);
}

.ground-border-card {
  border: 2px solid var(--color-ground);
}

.flying-border-card {
  border: 2px solid var(--color-flying);
}

.psychic-border-card {
  border: 2px solid var(--color-psychic);
}

.bug-border-card {
  border: 2px solid var(--color-bug);
}

.rock-border-card {
  border: 2px solid var(--color-rock);
}

.ghost-border-card {
  border: 2px solid var(--color-ghost);
}

.dragon-border-card {
  border: 2px solid var(--color-dragon);
}

.dark-border-card {
  border: 2px solid var(--color-dark);
}

.steel-border-card {
  border: 2px solid var(--color-steel);
}

.fairy-border-card {
  border: 2px solid var(--color-fairy);
}

/* Button Farbe Card */

.normal-background-button {
  background-color: #A8A878;
}

.fire-background-button {
  background-color: #F08030;
}

.water-background-button {
  background-color: #6890F0;
}

.electric-background-button {
  background-color: #F8D030;
}

.grass-background-button {
  background-color: #78C850;
}

.ice-background-button {
  background-color: #98D8D8;
}

.fighting-background-button {
  background-color: #C03028;
}

.poison-background-button {
  background-color: #A040A0;
}

.ground-background-button {
  background-color: #E0C068;
}

.flying-background-button {
  background-color: #A890F0;
}

.psychic-background-button {
  background-color: #F85888;
}

.bug-background-button {
  background-color: #A8B820;
}

.rock-background-button {
  background-color: #B8A038;
}

.ghost-background-button {
  background-color: #705898;
}

.dragon-background-button {
  background-color: #7038F8;
}

.dark-background-button {
  background-color: #705848;
}

.steel-background-button {
  background-color: #B8B8D0;
}

.fairy-background-button {
  background-color: #F0B6BC;
}

/* Einzelne Typen um den Image */

.normal {
  border: 10px solid #A8A878;
  background-color: rgb(54, 54, 54);
}

.fire {
  border: 11px solid #F08030;
  background-color: rgb(54, 54, 54);
}

.water {
  border: 11px solid #6890F0;
  background-color: rgb(54, 54, 54);
}

.electric {
  border: 11px solid #F8D030;
  background-color: rgb(54, 54, 54);
}

.grass {
  border: 11px solid #78C850;
  background-color: rgb(54, 54, 54);
}

.ice {
  border: 11px solid #98D8D8;
  background-color: rgb(54, 54, 54);
}

.fighting {
  border: 11px solid #C03028;
  background-color: rgb(54, 54, 54);
}

.poison {
  border: 11px solid #A040A0;
  background-color: rgb(54, 54, 54);
}

.ground {
  border: 11px solid #E0C068;
  background-color: rgb(54, 54, 54);
}

.flying {
  border: 11px solid #A890F0;
  background-color: rgb(54, 54, 54);
}

.psychic {
  border: 11px solid #F85888;
  background-color: rgb(54, 54, 54);
}

.bug {
  border: 11px solid #A8B820;
  background-color: rgb(54, 54, 54);
}

.rock {
  border: 11px solid #B8A038;
  background-color: rgb(54, 54, 54);
}

.ghost {
  border: 11px solid #705898;
  background-color: rgb(54, 54, 54);
}

.dragon {
  border: 11px solid #7038F8;
  background-color: rgb(54, 54, 54);
}

.dark {
  border: 11px solid #705848;
  background-color: rgb(54, 54, 54);
}

.steel {
  border: 11px solid #B8B8D0;
  background-color: rgb(54, 54, 54);
}

.fairy {
  border: 11px solid #F0B6BC;
  background-color: rgb(54, 54, 54);
}

/* Gradient-Klassen für zwei Typen */

.fire-water-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F08030, #6890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.fire-grass-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F08030, #78C850);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.grass-poison-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #78C850, #A040A0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}


.fire-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F08030, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.bug-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8B820, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}


.bug-poison-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8B820, #A040A0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.normal-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8A878, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.poison-ground-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A040A0, #E0C068);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.normal-fairy-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8A878, #F0B6BC);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.poison-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A040A0, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.bug-grass-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8B820, #78C850);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-fighting-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #C03028);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-poison-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #A040A0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.rock-ground-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8A038, #E0C068);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-psychic-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #F85888);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.electric-steel-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F8D030, #B8B8D0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-ice-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #98D8D8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ghost-poison-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #705898, #A040A0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.grass-psychic-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #78C850, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ground-rock-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #E0C068, #B8A038);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.psychic-fairy-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F85888, #F0B6BC);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.rock-water-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8A038, #6890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.rock-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8A038, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ice-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #98D8D8, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.electric-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F8D030, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.dragon-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #7038F8, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ice-psychic-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #98D8D8, #F85888);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-electric-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #F8D030);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.fairy-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F0B6BC, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.psychic-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F85888, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-fairy-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #F0B6BC);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.grass-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #78C850, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-ground-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #E0C068);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.dark-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #705848, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.normal-psychic-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8A878, #F85888);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.bug-steel-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8B820, #B8B8D0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ground-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #E0C068, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.steel-ground-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8B8D0, #E0C068);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.bug-rock-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8B820, #B8A038);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.bug-fighting-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8B820, #C03028);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.dark-ice-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #705848, #98D8D8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.fire-rock-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F08030, #B8A038);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ice-ground-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #98D8D8, #E0C068);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-rock-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #B8A038);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.steel-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8B8D0, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.dark-fire-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #705848, #F08030);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.rock-dark-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8A038, #705848);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.psychic-grass-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F85888, #78C850);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-dragon-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #7038F8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.fire-fighting-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F08030, #C03028);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-grass-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #78C850);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.grass-dark-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #78C850, #705848);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.bug-water-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8B820, #6890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.grass-fighting-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #78C850, #C03028);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.bug-ground-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8B820, #E0C068);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.bug-ghost-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8B820, #705898);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.dark-ghost-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #705848, #705898);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.steel-fairy-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8B8D0, #F0B6BC);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.steel-rock-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8B8D0, #B8A038);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.fighting-psychic-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #C03028, #F85888);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-dark-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #705848);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.fire-ground-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F08030, #E0C068);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ground-dragon-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #E0C068, #7038F8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.rock-psychic-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8A038, #F85888);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ground-psychic-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #E0C068, #F85888);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.rock-grass-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8A038, #78C850);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.rock-bug-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8A038, #A8B820);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.steel-psychic-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8B8D0, #F85888);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.dragon-psychic-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #7038F8, #F85888);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.water-steel-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #6890F0, #B8B8D0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.normal-water-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A8A878, #6890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.rock-steel-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8A038, #B8B8D0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.grass-ground-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #78C850, #E0C068);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ghost-flying-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #705898, #A890F0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.poison-dark-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A040A0, #705848);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ghost-dark-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #705898, #705848);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.dragon-ground-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #7038F8, #E0C068);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.fighting-steel-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #C03028, #B8B8D0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.poison-bug-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A040A0, #A8B820);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.poison-fighting-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #A040A0, #C03028);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.grass-ice-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #78C850, #E0C068);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.psychic-fighting-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F85888, #C03028);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ice-ghost-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #98D8D8, #705898);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.electric-ghost-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F8D030, #705898);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.steel-dragon-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #B8B8D0, #7038F8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.fire-steel-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F08030, #B8B8D0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.psychic-fire-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #F85888, #F08030);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ground-steel-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #E0C068, #B8B8D0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.grass-fairy-gradient {
  border: 1px solid transparent;
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54)), linear-gradient(135deg, #78C850, #F0B6BC);
  background-origin: border-box;
  background-clip: content-box, border-box;
}