@import url('fonts.css');

* {
    font-family: Lato, "Roboto Thin", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


    .root {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .header {
        display: flex;
        justify-content: center;
        background-color: #495057;
        color: white;
        flex-basis: 70px;
        position: sticky;
        top: 0;
    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #212529;
        color: white;
    }


    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 4;
    }

    .footer {
        background-color: #495057;
        display: flex;
        flex-basis: 50px;
        justify-content: center;
        color: white;
    }

    /*
        .root {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        .main {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: #495057;
            color: white;
            flex-basis: 70px;
            position: sticky;
            top: 0;
        }

        main {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: #212529;
            color: white;
        }

        footer {
            background-color: #495057;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: white;

        }

        .content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            flex: 1;
        }

        */


}
